body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
}

.container {
    width: 40%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

h2 {
    text-align: center;
    color: #0077b6;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #0077b6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #023e8a;
}

.result-box {
    background: #e8f8ff;
    padding: 15px;
    margin-top: 20px;
    border-left: 5px solid #0077b6;
}

.btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    background: #0077b6;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background: #023e8a;
}
